body {
  margin: 0;
  background: #FAF9F6;
  font-family: "EB Garamond", serif;
}

/* IMAGE DE FOND (IMPORTANT: */images/annick-vavasseur-le-present-2021.jpg
.cover {
  display: block;
  height: 100vh;
  width: 100%;

  background-image: url("images/annick-vavasseur-le-present-2021.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

/* TEXTE */
.text {
  position: absolute;
  bottom: 50px;
  right: 60px;
  text-align: right;
}

/* NOM */
.name {
  color: #6D6660;
  font-size: 52px;
  font-weight: 600;
  line-height: 1;
}

/* SOUS-TITRE */
.subtitle {
  color: #F6D6660;
  font-size: 34px;
  font-weight: 400;
  margin-top: 6px;
}

/* lien */
a {
  text-decoration: none;
}
